<!DOCTYPE html> {% extends 'school_bus/base.html' %}
<html>

<head>
    {% block title %} Homepage {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    {% block content %}
    <style>
    .google-maps {
        position: relative;
        padding-bottom: 0%;
        overflow: hidden;
    }

    .google-maps iframe {
        position: relative;
        top: 0;
        left: 0;
        width: 100% !important;
    }
    </style>
    <div class="w3-row" style="height : 90vh" >
        <div class="w3-half">
            <div class="google-maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7098.94326104394!2d78.0430654485247!3d27.172909818538997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1385710909804" width="600" height="350" frameborder="0" style="border:0"></iframe>
            </div>
            <div class="w3-container w3-border" style="height: 30vh">
                <h2> <b>Bus Status</b> </h2>
            </div>
        </div>
        <div class="w3-row w3-half" style="overflow-y: scroll; height: 90vh">
            <div class="w3-container w3-text-red" style="width:100%; text-align: center;">
                <h2>Student Found : {{ std_list|length }}</h2>
            </div>
            {% for student in std_list %}
            <a href="{% url 'student' student.studentID %}">
                <div class="w3-card-4 w3-hover-shadow w3-small" style="margin:16px; display: inline-block; float: left">
                    {% if student.studentID == user.studentID_id %}
                    <header class="w3-container w3-red w3-small">
                        <h4> {{ student.firstname }}  {{ student.lastname}}</h4>
                    </header>
                    {% else %}
                    <header class="w3-container w3-yellow w3-small">
                        <h4> {{ student.firstname }}  {{ student.lastname}}</h4>
                    </header>
                    {% endif %}
                    <div class="w3-block" style="display: inline-block; width: 120px; height: 120px; padding: 8px">
                        <img src={{ student.img.url }} alt="Avatar" class="w3-circle w3-center" style=" width:120px; height:120px;">
                    </div>
                    <div class="w3-container" style="display: inline-block; vertical-align: top;">
                        <p> <b>StudentID : </b> {{ student.studentID }} </p>
                        {% if student.gender %}
                        <p> <b>Gender : </b> Male </p>
                        {% else %}
                        <p> <b>Gender : </b> Female </p>
                        {% endif %}
                        <p> <b>Age : </b> {{ student.age }} </p>
                        <p> <b>Grade : </b> {{ student.grade }} </p>
                    </div>
                </div>
            </a>
            {% endfor %} {% endblock %}
        </div>
    </div>
</body>